.product-container {
  display: flex;
  margin-bottom: 1rem;
  gap: 1.25rem;
}

.product-container:nth-last-child(-n + 4) {
  display: none;
}

.product-container img {
  width: 169px;
  height: 50%;
}

.product-container--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.product-container--info .product-title {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--light-grey);
}

.misc {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--light-grey);
}

.product-container--info .product-new-price {
  font-size: 1rem;
  font-weight: 700;
  color: var(--light-grey);
}

.product-description {
  display: none;
}

@media screen and (min-width: 1024px) {
  .product-container {
    flex-direction: column;
  }

  .product-container img {
    width: 100%;
  }

  .product-container--info {
    width: 100%;
    gap: 0.25rem;
  }

  .product-container--info .product-description {
    display: inline-block;
    font-size: 0.75rem;
    color: var(--light-grey);
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: justify;
  }

  .product-container:nth-last-child(-n + 4) {
    display: flex;
  }
}